*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
}

.mapStyle {
  display: block;
  width: 100%;
  height: 500px;
  }

.mapDivStyle {
  float: left;
  margin-left: 0;
  height: 500px;
}

.listDiv {
  margin: 5% 0 0 0;
}

.trailMap {
  width: 100%;
  height: 400px;
}

/*
.wikipedia-container {
    float:right;
    width: 20%;
    padding: 0;
    margin-right: 5%;
    background-color: rgba(255,255,255,0.7);
}
*/